<div class="icons">
    <div>
        <fa-icon [icon]="faGlobe" class="icon"></fa-icon>
        <span class="icon-text">Gratis frakt och returer</span>
    </div>

    <div>
        <fa-icon [icon]="faJetFighter" class="icon"></fa-icon>
        <span class="icon-text">Expressfrakt</span>
    </div>

    <div>
        <fa-icon [icon]="faShield" class="icon"></fa-icon>
        <span class="icon-text">Säkra betalningar</span>
    </div>

    <div>
        <fa-icon [icon]="faSmile" class="icon"></fa-icon>
        <span class="icon-text">Nyheter varje dag</span>
    </div>
</div>
