.products {
    display: grid;
    gap: 20px;
    padding: 20px 10px;
    margin: 0 5px;
    background-color: #a0a0a0;
}

h3 {
    text-align: center;;
    margin-top: 10px;
}

.product {
    position: relative;
    padding: 30px 10px;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #f0f0f0;
    box-shadow: 5px 10px #d0d0d0;
    border-radius: 10px;
}

.product img {
    object-fit: contain;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    margin-bottom: 30px;
    border-radius: 10px;
}

.product:hover {
    transform: scale(1.02);
    border: 3px solid #15b8f8;
}

.heart-icon {
    position: absolute;
    bottom: 75px;
    right: 30px;
    font-size: 24px;
    color: tomato;
    cursor: pointer;
    
}

.heart-icon:hover {
    transform: scale(1.5);
    clip-path: polygon(58% 33%, 69% 29%, 79% 28%, 88% 31%, 94% 36%, 96% 41%, 93% 48%, 83% 56%, 73% 63%, 58% 71%, 45% 64%, 32% 56%, 22% 49%, 19% 42%, 22% 36%, 28% 31%, 37% 28%, 49% 29%);
    background-color: tomato;
    
}

.price {
    position: absolute;
    bottom: 25px;
    right: 15px;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.name {
    position: absolute;
    bottom: 25px;
    left: 15px;
    font-size: 1.1rem;
    color: black;
    font-weight: 400;
    font-style: normal;
}

.brand {
    position: absolute;
    bottom: 0;
    left: 15px;
    font-size: 15px;
    color: rgb(61, 60, 60);
    font-weight: 300;
    font-style: normal;
}

.no-results {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    width: 100%;
}

.no-results h2 {
    color: black;
    font-weight: 400;
    font-style: normal;
}

@media (min-width: 640px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}