<ng-container *ngIf="filteredProducts.length > 0">
    <h3 class="title">Liknande produkter</h3>
    <section class="products">
        <div class="product" *ngFor="let product of filteredProducts">
            <a [routerLink]="['/products', product.id, product.Name]" class="product-img">
                <img [src]="product.Image" [alt]="product.Name"/>
                <span class="heart-icon">
                    <fa-icon [icon]="faHeart"></fa-icon>
                </span>
            </a>
            <span class="price">{{product.Price}} SEK</span>
            <span class="name">{{product.Name}}</span>
            <span class="brand">{{product.Brand}}</span>
        </div>
    </section>
</ng-container>
