<ng-container *ngIf="!isLoading && !error; else loadingOrError">
    <section class="products">
        <ng-container *ngIf="displayedProducts.length > 0; else noProducts">
            <div class="product" *ngFor="let product of displayedProducts">
                <a [routerLink]="['/products', product.id, product.Name]">
                    <img [src]="product.Image" [alt]="product.Name" />
                </a>
                <span class="price">{{ product.Price }} SEK</span>
                <span class="name">{{ product.Name }}</span>
                <span class="brand">{{ product.Brand }}</span>
                <span class="heart-icon">
                    <fa-icon [icon]="faHeart"></fa-icon>
                </span>
            </div>
        </ng-container>
        <ng-template #noProducts>
            <div class="no-products">Inga produkter hittades</div>
        </ng-template>
    </section>
</ng-container>

<ng-template #loadingOrError>
    <div *ngIf="isLoading; else errorTpl">
        <app-spinner></app-spinner>
    </div>
    <ng-template #errorTpl>
        <div class="error-message">
            {{ error }}
        </div>
    </ng-template>
</ng-template>
